.division-line {
    border: none;
    height: 0.1vh;
    width: 90%;
    max-width: 1350px;
    background-color: black;
    margin: 10px auto 2% auto;
}

.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin-top: 20px;
}

.navbar {
    align-items: center;
    background-color: white !important;
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.4);
    font-size: small;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: black;
}

@media (max-width: 991.98px) { 
  .navbar-nav {
    flex-direction: column !important;
    width: 100%;
  }

  .navbar-nav .btn {
    margin-top: 0.5rem; 
  }
}
