body{
    display: flex;
    background-color: white;
    margin-top: 5rem;
    justify-content: center;
}

.p1{
    font-size: 1.85rem;
    font-weight: 700;
    color: black;
    margin-bottom: 0.5rem;
}

.p2{
    color:rgb(83, 83, 83);
    margin-bottom: 0.3rem;
}

.p3{
    margin-top: 0rem;
    font-size: 0.9rem;
    color:grey;
}

/* Container para mantener el mismo ancho entre las estructuras de hechos y el encabezado*/

.container-responsive{
    width: 100%;
}

.container-principal{
    display:block;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* Container para encabezado*/

.container-secundario{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.config-nuevoHecho{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    white-space: nowrap;
}

/* Container para cada hecho*/

.hecho-card{
    display:block;
    justify-content: center;
    align-items: start;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    padding-bottom: 1.3vw;
    margin-bottom:1.3vw;
    border: solid var(--color-gray-300) 1px;
    border-radius: 0.7rem
}

.hecho-card:hover{
    box-shadow: 3px 3px 3px var(--color-gray-300);
    transition: 0.2s;
}

/* Container para cada hecho*/

.hecho-card-mas-opciones{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.7vw;
}

.titulo-Hecho{
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    margin-bottom: 0.5vw;
}

.titulo-mas-descripcion{
    display: block;
    width: auto;
}

.opciones{
    width: 10rem;
    padding-left: 0rem;
    margin-left: 1rem;
}

.descripcion{
    margin-top: 0vw;
    font-size: 0.9rem;
    color:grey;
}

.fecha-ubicacion-fuente{
    display:grid;
    width: 100%;
    justify-content:space-between;
}

.info-fecha-ubicacion-fuente{
    width: 100%;
    font-size: 0.85rem;
    color: rgb(90, 88, 88);
    text-align: left;
}

.informacion-general{
    display:block;
    margin-top: 0.9vw;
}

.config-categoria{
    width: 100%;
    font-size: 0.75rem;
    font-weight: 600;
    white-space: nowrap;
}

.config-opciones{
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 0.4vw;
    white-space: nowrap;
}

.distancia-opciones{
    margin-bottom: 0.4vw;
}

.btn-white {
    background-color: white;
    color: blue;
    border-color: rgb(101, 181, 247);
}

.btn-white:hover{
    border-color: rgb(21, 150, 255);
}

.btn-red {
    background-color: white;
    color: red;
    border-color: rgb(250, 137, 137);
}

.btn-red:hover{
    border-color: red;
}

.etiquetas{
    display: flex;
    gap: 0.4rem;
    margin-bottom: 0.5vw;
}

.etiqueta-categoria {
    text-align: center;
}

.etiquetas p {
    padding: 0.3rem;
    margin-bottom: 0;
}

.ultima-linea{
    display: flex;
    font-size: 0.75rem;
    gap:0.8rem;
}

.fechaPublicacion{
    display:flex;
    color: rgb(117, 117, 117);
    gap: 0.3vw;
    align-items: center;
}

.tiempoRestante{
    display:flex;
    color:rgb(1, 170, 1);
    gap: 0.3vw;
    align-items:center;
}

.tiempoExpirado{
    color: red;
}

.alineacion{
    margin:0vw;
    padding-bottom: 0.1rem;
}

@media (min-width: 1400px) {
    .container-responsive {
        max-width: 1400px;
    }

}

@media (min-width: 768px) {
    .encolumnar {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}