<div th:fragment="tabButton(labelLong, labelShort, iconClass, target, active=false)">
    <li class="nav-item flex-fill" role="presentation">
        <button
                class="nav-link w-100"
                th:classappend="${active} ? ' active' : ''"
                type="button"
                data-bs-toggle="tab"
                th:attr="data-bs-target=${target},
                   aria-controls=${#strings.substring(target,1)},
                   aria-selected=${active}">
            <i th:class="${iconClass} + ' me-2'"></i>
            <span class="d-none d-sm-inline" th:text="${labelLong}">Label</span>
            <span class="d-sm-none" th:text="${labelShort}">Short</span>
        </button>
    </li>
</div>