<html lang="en" th:replace="~{layout/base :: html}">
<th:block th:fragment="additional-links">
    <link rel="stylesheet" th:href="@{/css/hecho.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/css/bootstrap-select.min.css">
</th:block>
<div th:fragment="contenido">
    <div class="body">
        <div class="container-responsive">
            <div class="container-navegador">
                <nav class="config-nav">
                    <a href="index.html" class="boton-navegacion" th:href="@{/}">Home</a>
                    <i class="fa-solid fa-chevron-right" style="font-size: 0.5rem;"></i>
                    <a class="boton-navegacion" th:href="@{/hechos}">Hechos</a>
                    <i class="fa-solid fa-chevron-right" style="font-size: 0.5rem;"></i>
                    <span>Manifestación por derechos laborales</span>
                </nav>
                <div class="etiquetas-mas-botones">
                    <div class="etiqueta-mas-hecho">
                        <div class="etiquetas">
                            <p class="etiqueta-categoria" th:text="|${hecho.getCategoria()}|">Sin Categoria</p>
<!--                            TODO: Verificado-->
                            <p class="etiqueta-verificado">Verificado</p>
                        </div>
                        <div>
                            <h1 class="titulo-hecho"  th:text="|${hecho.getTitulo()}|">Sin título</h1>
                            <p class="descripcion-breve" th:text="|${hecho.getDescripcion()}|">Sin descripción</p>
                        </div>
                    </div>
                    <div class="botones">
                        <a href="reportarHecho.html" class="btn btn-red">Reportar</a>
                        <a class="btn btn-grey" th:href="@{/hechos}">Volver a Hechos</a>
                    </div>
                </div>
            </div>
            <div class="cuadros-grid">
                <div class="bloques columna-1">
                    <div class="texto-mas-icono">
                        <i class="fa-regular fa-file-lines" style="font-size: 1.3rem;"></i>
                        <h2 style="font-size: 1.5rem; margin-bottom: 0rem;">Descripción completa</h2>
                    </div>
                    <p style="opacity: 0.8;" th:text="|${hecho.getDescripcion()}|">Sin descripción</p>
                </div>
                <div class="bloques columna-2">
                    <div>
                        <h2 style="font-size: 1.5rem; margin-bottom: 1rem;">Información</h2>
                    </div>
                    <div class="texto-mas-icono" style="align-items: start;">
                        <i class="fa-regular fa-calendar" style="font-size: 1.3rem; padding-top: 0.2rem;"></i>
                        <div>
                            <p style="margin-bottom: 0rem; font-size: 0.9rem; font-weight: 600">Fecha</p>
                            <p style="margin-bottom: 0rem; font-size: 0.8rem;"  th:text="|${hecho.getFechaAcontecimiento()}|">Sin fecha</p>
                        </div>
                    </div>
                    <div class="texto-mas-icono" style="align-items: start;">
                        <i class="fa-solid fa-location-dot" style="font-size: 1.3rem; padding-top: 0.2rem;"></i>
                        <div>
                            <p style="margin-bottom: 0rem; font-size: 0.9rem; font-weight: 600">Ubicación</p>
                            <p style="margin-bottom: 0rem; font-size: 0.8rem;" th:text="|${hecho.getUbicacion().getProvincia()}, ${hecho.getUbicacion().getMunicipio()}|">Sin ubicación</p>
                            <p style="margin-bottom: 0rem; font-size: 0.8rem;" th:text="|${hecho.getUbicacion().getLatitud()}, ${hecho.getUbicacion().getLongitud()}|">Sin Coordenadas</p>
                        </div>
                    </div>
                    <div class="texto-mas-icono" style="align-items: start;">
                        <div>
                            <p style="margin-bottom: 0rem; font-size: 0.9rem; font-weight: 600">Fuente</p>
                            <p style="margin-bottom: 0rem; font-size: 0.8rem;" th:text="|${hecho.getFuente()}|">Sin fuente</p>
                        </div>
                    </div>
                </div>
<!--                TODO: Medios relacionados-->
                <div class="bloques columna-1">
                    <div class="texto-mas-icono">
                        <i class="fa-solid fa-arrow-up-right-from-square" style="font-size: 1.3rem;"></i>
                        <h2 style="font-size: 1.5rem; margin-bottom: 0rem;">Medios Relacionados</h2>
                    </div>
                    <div>
                        <a class="boton-medios">
                            <div style="display: flex; gap: 0.5rem; align-items: center;">
                                <i class="fa-solid fa-arrow-up-right-from-square" style="font-size: 1rem;"></i>
                                <p style="font-size: 1rem; margin-bottom: 0rem;">Medios Relacionados</p>
                            </div>
                        </a>
                        <a class="boton-medios">
                            <div style="display: flex; gap: 0.5rem; align-items: center;">
                                <i class="fa-solid fa-arrow-up-right-from-square" style="font-size: 1rem;"></i>
                                <p style="font-size: 1rem; margin-bottom: 0rem;">Medios Relacionados</p>
                            </div>
                        </a>
                        <a class="boton-medios">
                            <div style="display: flex; gap: 0.5rem; align-items: center;">
                                <i class="fa-solid fa-arrow-up-right-from-square" style="font-size: 1rem;"></i>
                                <p style="font-size: 1rem; margin-bottom: 0rem;">Medios Relacionados</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="bloques columna-2">
                    <div class="texto-mas-icono" style="font-size: 1.7rem; align-items: start;">
                        <i class="fa-solid fa-tag"></i>
                        <h2 style="font-size: 1.5rem; margin-bottom: 1rem;">Etiquetas</h2>
                    </div>
                    <div style="display: flex; gap: 0.3rem; flex-wrap: wrap;" th:each="etiqueta, iterStat: ${hecho.etiquetas}" th:if="${iterStat.index < 3}">
                        <p class="etiqueta-categoria config-etiquetas" th:text="${etiqueta}">Sin etiqueta</p>
                    </div>
                </div>
                <div class="bloques columna-2">
                    <h2 style="font-size: 1.4rem; margin-bottom: 1rem; text-align: center;">Ubicación en Mapa</h2>
                    <div class="bloques" style="margin-bottom: 1rem;">
                        <p style="margin-bottom: 0rem; text-align: center;">Mapa Interactivo</p>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <a href="map.html" class="btn btn-primary btn-dark">Ver en Mapa Principal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>