<html lang="en" th:replace="~{layout/base :: html}">
<th:block th:fragment="additional-links">
    <link rel="stylesheet" th:href="@{/css/misHechos.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/css/bootstrap-select.min.css">
</th:block>
<div th:fragment="contenido">
    <div class="container-responsive">
        <div class="container-principal">
            <div class="container-secundario">
                <div>
                    <h1 class="p1">Mis Hechos</h1>
                    <p class="p2">Gestiona los hechos que has publicado en el sistema</p>
                    <p class="p3" th:text="|${cantidad} hechos publicados|"></p>
                </div>
                <a href="publicarHecho.html" class="btn btn-primary btn-dark config-nuevoHecho">+ Publicar Nuevo Hecho</a>
            </div>

            <div class="hecho-card" th:each="hecho:${hechos}">
                <div class="hecho-card-mas-opciones">
                    <div class="titulo-mas-descripcion">
                        <h2 class="titulo-Hecho" th:text="${hecho.titulo}">Sin titulo</h2>
                        <p class="descripcion" th:text="${hecho.descripcion}">Sin Descripción</p>
                    </div>
                    <div class="opciones">
                        <p class="etiqueta-categoria config-categoria distancia-opciones" th:text="${hecho.categoria}">Sin Categoria</p>
                        <p th:switch="${hecho.estado}"
                           class="etiqueta-categoria config-categoria distancia-opciones"
                           th:classappend="${hecho.estado == 'PENDIENTE_DE_REVISION'} ? 'estado-pendiente' :
                                           (${hecho.estado == 'RECHAZADA'} ? 'estado-rechazado' :
                                           (${hecho.estado == 'ACEPTADA' or hecho.estado == 'ACEPTADA_CON_SUGERENCIA'} ? 'estado-aprobado' : ''))">
                            <span th:case="'PENDIENTE_DE_REVISION'">Pendiente de Revisión</span>
                            <span th:case="'RECHAZADA'">Rechazado</span>
                            <span th:case="'ACEPTADA'">Aprobado</span>
                            <span th:case="'ACEPTADA_CON_SUGERENCIA'">Aprobado con Sugerencia</span>
                            <span th:case="*">Sin Estado</span>
                        </p>
                        <a  class="btn btn-primary btn-dark config-opciones" th:href="@{/hechos/{id}(id=${hecho.id})}">Ver Detalles</a>
                        <a  class="btn btn-white config-opciones" th:href="@{/modificarHecho/{id}(id=${hecho.id})}">Modificar Hecho</a>
                        <a  class="btn btn-red config-opciones" th:href="@{/hechos/eliminacion/{id}(id=${hecho.id})}">Reportar</a>
                    </div>
                </div>
                <div class="informacion-general">
                    <div class="fecha-ubicacion-fuente encolumnar">
                        <p class="info-fecha-ubicacion-fuente"><b>Fecha:</b> <span th:text="${hecho.fechaAcontecimiento}">Sin Fecha</span></p>
                        <p class="info-fecha-ubicacion-fuente"><b>Ubicacion:</b> <span th:text="|${hecho.ubicacion.provincia}, ${hecho.ubicacion.municipio}|">Sin Ubicacion</span></p>
                        <p class="info-fecha-ubicacion-fuente"><b>Fuente:</b> <span th:text="${hecho.fuente}">Sin Fuente</span></p>
                    </div>
                    <div class="etiquetas">
                        <div th:each="etiqueta, iterStat: ${hecho.etiquetas}" th:if="${iterStat.index < 3}">
                            <p class="titulo-etiqueta etiqueta-interes" th:text="${etiqueta}">Sin etiqueta</p>
                        </div>
                    </div>
                    <hr style="width: 100%;">
                    <div class="ultima-linea">
                        <div class="fechaPublicacion">
                            <i class="fa-regular fa-calendar"></i>
                            <p class="alineacion" th:text="|Publicado: ${hecho.fechaCarga}|">Sin Fecha</p>
                        </div>
                        <div class="tiempoRestante">
                            <i class="fa-regular fa-clock"></i>
                            <p class="alineacion">0 días restantes para editar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>