<html lang="en" th:replace="~{layout/base :: html}">

<th:block th:fragment="additional-links">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/css/bootstrap-select.min.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.15.0/mapbox-gl.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/modificarHecho.css}">
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.15.0/mapbox-gl.js"></script>
</th:block>

<div th:fragment="contenido" class="container">
    <div class="container-navegador">
        <nav class="config-nav">
            <a th:href="@{/home}" class="boton-navegacion">Home</a>
            <i class="fa-solid fa-chevron-right" style="font-size: 0.5rem;"></i>
            <a th:href="@{/hechos/misHechos(id=${usuarioLogueado.id})}" class="boton-navegacion">Mis Hechos</a>
            <i class="fa-solid fa-chevron-right" style="font-size: 0.5rem;"></i>
            <span>Editar Hecho</span>
        </nav>
        <div style="margin-bottom: 2rem;">
            <h3><b>Modificar Hecho</b></h3>
            <p style="color: var(--color-gray-600);">Edita la información de tu hecho publicado</p>
        </div>
        <div>
            <form th:action="@{'/hechos/modificarHecho/' + ${hecho.id}}" method="post">
                <div class="config-form">
                    <div>
                        <h3 style="font-size: 1.5rem; margin-bottom: 0.2rem;">Información del Hecho</h3>
                        <p style="font-size: 0.9rem; color: var(--color-gray-500);">Modifica los datos principales de tu hecho</p>
                    </div>
                    <hr>
                    <div>
                        <label class="config-label">Título *</label>
                        <input name="titulo" class="config-input" type="text" th:value="${hecho.titulo}">
                    </div>
                    <div>
                        <label class="config-label">Descripción *</label>
                        <textarea name="descripcion" class="config-input" rows="4" style="min-height: fit-content; margin-bottom: 0.4rem;" th:text="${hecho.descripcion}"></textarea>
                    </div>
                    <div>
                        <label class="config-label">Categoría *</label>
                        <div>
                            <select class="config-input" name="categoria">
                                <option value="Protesta Social" th:selected="${hecho.categoria == 'Protesta Social'}">Protesta Social</option>
                                <option value="Desarrollo Social" th:selected="${hecho.categoria == 'Desarrollo Social'}">Desarrollo Social</option>
                                <option value="Medio Ambiente" th:selected="${hecho.categoria == 'Medio Ambiente'}">Medio Ambiente</option>
                                <option value="Seguridad" th:selected="${hecho.categoria == 'Seguridad'}">Seguridad</option>
                                <option value="Educacion" th:selected="${hecho.categoria == 'Educacion'}">Educación</option>
                                <option value="Salud" th:selected="${hecho.categoria == 'Salud'}">Salud</option>
                                <option value="Infraestructura" th:selected="${hecho.categoria == 'Infraestructura'}">Infraestructura</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label class="config-label">Fecha Acontecimiento *</label>
                        <input class="config-input" name="fechaAcontecimiento" type="datetime-local" th:value="${hecho.fechaAcontecimiento}">
                    </div>
                    <input type="hidden" id="provinciaInput" name="ubicacion.provincia" th:value="${hecho.ubicacion?.provincia}">
                    <input type="hidden" id="municipioInput" name="ubicacion.municipio" th:value="${hecho.ubicacion?.municipio}">
                    <input type="hidden" id="latInput" name="ubicacion.latitud" th:value="${hecho.ubicacion?.latitud}">
                    <input type="hidden" id="lngInput" name="ubicacion.longitud" th:value="${hecho.ubicacion?.longitud}">
                    <input type="hidden" name="origen" th:value="${hecho.origen}">
                    <input type="hidden" name="contribuyente.fechaNacimiento" th:value="${hecho.contribuyente?.fechaNacimiento}">
                    <input type="hidden" name="contribuyente.nombre" th:value="${hecho.contribuyente?.nombre}">
                    <input type="hidden" name="contribuyente.apellido" th:value="${hecho.contribuyente?.apellido}">
                    <div id="geocoder" class="mb-3" style="width: 100%"></div>
                    <div id="map" class="map"></div>
                </div>
                <div class="config-form">
                    <div>
                        <h3 style="font-size: 1.5rem; margin-bottom: 0.2rem;">Contenido Multimedia</h3>
                        <p style="font-size: 0.9rem; color: var(--color-gray-500);">Gestiona las imágenes, videos y audios de tu hecho</p>
                    </div>
                    <div>
                        <p class="config-label">Contenido Actual</p>
                    </div>
                    <div class="caja-de-imagenes">
                        <div class="config-image">
                            <div class="nombre-imagen">
                                <div>
                                    <i class="fa-solid fa-image"></i>
                                    <span>imagen1.jpg</span>
                                </div>
                                <a class="btn btn-red">X</a>
                            </div>
                            <div class="preview">
                                <i class="fa-solid fa-image"></i>
                            </div>
                        </div>
                        <div class="config-image">
                            <div class="nombre-imagen">
                                <div>
                                    <i class="fa-solid fa-file-video"></i>
                                    <span>video1.mp4</span>
                                </div>
                                <a class="btn btn-red">X</a>
                            </div>
                            <div class="preview">
                                <i class="fa-solid fa-file-video"></i>
                            </div>
                        </div>
                        <div class="config-image">
                            <div class="nombre-imagen">
                                <div>
                                    <i class="fa-solid fa-image"></i>
                                    <span>imagen2.jpg</span>
                                </div>
                                <a class="btn btn-red">X</a>
                            </div>
                            <div class="preview">
                                <i class="fa-solid fa-image"></i>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="config-label">Agregar Nuevo Contenido</label>
                        <input class="config-input" type="file">
                    </div>
                </div>
                <div class="opciones">
                    <button type="submit" class="btn btn-primary btn-dark config-opciones">Guardar Cambios</button>
                    <a th:href="@{/hechos/misHechos(id=${usuarioLogueado.id})}" class="btn btn-cancelar config-opciones">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{/js/mapa.js}"></script>
</div>
</html>