/*Botones*/
.btn-outline-light { 
  color: var(--color-black);
  border-color: var(--color-black);
}

.btn-outline-light:hover {
  color: var(--color-white);
  background-color: var(--color-white);
}

.btn-dark {
  background-color: black;
  color: white;
}

.btn-outline-primary {
    background-color: white;
    color: black;
    border-color: black;
}    

.btn-outline-primary:hover {
    background-color: black;
    color: white;
    border-color: black;
}

/* Card */
.card.hecho-destacado-card{
  width: 100%;
  max-width: 23rem;
  min-height: 15rem;
  background-color: transparent;
  border: solid var(--color-gray-300) 1px;
  margin: 0 0.3rem;
  padding: 2rem;
}

.coleccion-destacada-card {
  width: 100%;
  max-width: 23rem;
  background-color: transparent;
  min-height: 15rem;
  max-height: 15rem;
}

.card.hecho-destacado-card h5 {
  text-align: start;
  margin-left: 0;
}

.card.hecho-destacado-card p {
  text-align: start;
  margin: 0;
}

.card.hecho-destacado-card:hover {
  box-shadow: var(--shadow-lg);
  transition: box-shadow 0.3s ease-in-out;
}

.card-body.hecho-destacado-card-body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.75rem;
  padding: 0;
}

.etiqueta-categoria {
  border: solid 1px var(--color-gray-300);
  padding: 0.2rem 0.5rem;
  font-size: 0.65rem;
  font-weight: 500;
  border-radius: 15px;
  color: var(--color-gray-700);
  background-color: transparent;
}

.titulo-etiqueta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.etiqueta-interes {
  font-size: 0.7rem;
  padding: 0.1rem;
  background-color: whitesmoke;
  color: black;
}

/* Carusel */

.header-carusel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-carusel div {
  display: flex;
  gap: 0.5rem;
}

.btn-carusel {
  border: 2px solid grey;
  color: grey;
}

.btn-carusel:hover {
  border: 2px solid grey;
  color: black;
}

.card.coleccion-destacada-card{
  width: 100%;
  max-width: 23rem;
  background-color: transparent;
  border: solid var(--color-gray-300) 1px;
  margin: 0 0.3rem;
  padding: 2rem;
}

.card.coleccion-destacada-card h5 {
  text-align: start;
  margin-left: 0;
  margin-bottom: 0.5rem;
}

.card.coleccion-destacada-card p {
  text-align: start;
  margin: 0;
}

.card.coleccion-destacada-card .card-subtitle {
  color: var(--color-gray-600);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.card.coleccion-destacada-card:hover {
  box-shadow: var(--shadow-lg);
  transition: box-shadow 0.3s ease-in-out;
    border-color: var(--color-black);
}

.card-body.coleccion-destacada-card-body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  padding: 0;
}