/* ===== Filtros ===== */

.config-mostrarFiltros{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    white-space: nowrap;
    color: #000 !important;
    border-color: #dee2e6;
}

.config-mostrarFiltros:hover{
    color: #000 !important;
    background-color: #f8f9fa;
    border-color: #adb5bd;
}

/* ===== CARDS DE HECHOS ===== */

.hecho-card-hover {
    transition: box-shadow 0.2s ease-in-out;
    border: 1px solid #dee2e6;
}

.hecho-card-hover:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Categoría y Botones con ancho fijo de 160px (10rem) */
.categoria-badge,
.boton-accion {
    width: 160px;
    white-space: normal; /* Permite que el texto haga wrap */
    word-wrap: break-word; /* Rompe palabras largas si es necesario */
    overflow-wrap: break-word; /* Mejor soporte para palabras largas */
    font-size: 0.9rem
}

/* Asegurar que los badges de etiquetas también hagan wrap si es necesario */
.badge {
    word-wrap: break-word;
    white-space: normal;
}

/* Hover de Botones */
.btn-dark:hover {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease;
}

.btn-outline-danger:hover { /* Botón de eliminación */
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

/* Estillos nuestros (no de bootstrap) para la Paginación */
.pagination .page-link {
    color: #000;
    border-radius: 0.25rem;
}