/* Mal llamado hechos.css */
/* Estilos de Card Hechos + Filtros + Paginación*/

/* ===== Filtros ===== */

.config-mostrarFiltros{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    white-space: nowrap;
    color: #000 !important;
    border-color: #dee2e6;
}

.config-mostrarFiltros:hover{
    color: #000 !important;
    background-color: #f8f9fa;
    border-color: #adb5bd;
}

/* Container para cada hecho*/

.hecho-card{
    display:block;
    justify-content: center;
    align-items: start;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    padding-bottom: 1.3vw;
    margin-bottom:1.3vw;
    border: solid var(--color-gray-300) 1px;
    border-radius: 0.7rem
}

.hecho-card:hover{
    box-shadow: 3px 3px 3px var(--color-gray-300);
    transition: 0.2s;
}

/* Container para cada hecho*/

.hecho-card-mas-opciones{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.7vw;
}

.titulo-Hecho{
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    margin-bottom: 0.5vw;
}

.titulo-mas-descripcion{
    display: block;
    flex: 1;
}

.opciones{
    width: 10rem;
    padding-left: 0rem;
    margin-left: 1rem;
}

.descripcion{
    margin-top: 0vw;
    font-size: 0.9rem;
    color:grey;
}

.fecha-ubicacion-fuente{
    display:grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.info-fecha-ubicacion-fuente{
    width: 100%;
    font-size: 0.85rem;
    color: rgb(90, 88, 88);
    text-align: left;
}

.informacion-general{
    display:block;
    margin-top: 0.9vw;
}

.hecho-card-hover:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*  ===== Categoría y Botones ===== */
.categoria-badge,
.boton-accion {
    width: 165px; /* ancho fijo */
    white-space: normal; /* Permite que el texto haga wrap */
    word-wrap: break-word; /* Rompe palabras largas si es necesario */
    overflow-wrap: break-word; /* Mejor soporte para palabras largas */
    font-size: 0.9rem;
}

/* Asegurar que los badges de etiquetas también hagan wrap si es necesario */
.badge {
    word-wrap: break-word;
    white-space: normal;
}

/* Hover de Botones */
.btn-dark:hover {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease;
}

.btn-outline-danger:hover { /* Botón de eliminación */
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.config-categoria{
    width: 100%;
    font-size: 0.75rem;
    font-weight: 600;
}

.config-opciones{
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 0.4vw;
    white-space: nowrap;
}

.distancia-opciones{
    margin-bottom: 0.4vw;
}

.btn-red {
    background-color: white;
    color: red;
    border-color: rgb(250, 137, 137);
}

.btn-red:hover{
    background-color: red;
    border-color: red;
    color: white;
}

.etiqueta-categoria {
    text-align: center;
}

