body {
    background-color: whitesmoke;
}

main {
    margin: 3rem 0;
}

.sesion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

.sesion-container .sesion-container {
    background-color: white;
    border: 1px, solid, var(--color-gray-300);
    border-radius: 12px;
}

h3 {
    margin-top: 1rem;
}

h2 {
    margin-top: 1rem;
}

#leyenda {
    margin-bottom: 2rem;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 20rem;
}

input {
    border-radius: 6px;
    height: 2.5rem;
    border: 1px solid var(--color-gray-300);
    width: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.sesion-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: auto;
}

hr {
    height: 10px;
}

.ultimo {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--color-gray-500);
}

hr {
    width: 80%;
}

a {
    text-decoration: none;
    color: black;
}

.input-name-surname {
    display: flex;
    gap: 2rem;
}

.input-name-surname .input {
    width: 9rem;
}