<div th:fragment="filtros (actionUrl, clearUrl)">
    <div class="collapse" id="filtrosCollapse">
        <div class="card card-body mb-3">
            <form th:action="${actionUrl}" method="get">
                <div class="row">
                    <div class="input-mapa col-12 col-md-6">
                        <p style="color: black">Ingrese su Ubicación deseada</p>
                        <div id="geocoder" class="ubicacion-input"></div>
                        <div id="map" class="map mapa"></div>
                        <input type="hidden" id="latInput" name="lat" th:value="${param.lat}">
                        <input type="hidden" id="lngInput" name="lng" th:value="${param.lng}">
                        <input type="hidden" id="municipioInput" name="municipio" th:value="${param.municipio}">
                        <input type="hidden" id="provinciaInput" name="provincia" th:value="${param.provincia}">
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="col-md-4 mb-12 w-100 filtro-input row">
                            <div class="col-6">
                                <label for="fechaAcontecimientoInicio" class="form-label">Fecha desde</label>
                                <input type="date" class="form-control" id="fechaAcontecimientoInicio" name="fechaAcontecimientoInicio" th:value="${param.fechaAcontecimientoInicio}">
                            </div>
                            <div class="col-6">
                                <label for="fechaAcontecimientoFin" class="form-label">Fecha hasta</label>
                                <input type="date" class="form-control" id="fechaAcontecimientoFin" name="fechaAcontecimientoFin" th:value="${param.fechaAcontecimientoFin}">
                            </div>

                        </div>
                        <div class="col-md-4 mb-12 w-100 filtro-input">
                            <label for="categoria" class="form-label">Categoría</label>
                            <input type="text" class="form-control" id="categoria" name="categoria" th:value="${param.categoria}">
                        </div>
                        <div class="col-md-4 mb-12 w-100 filtro-input">
                            <label for="fuente" class="form-label">Fuente</label>
                            <input type="text" class="form-control" id="fuente" name="fuente" th:value="${param.fuente}">
                        </div>
                        <div class="text-end buttons">
                            <button type="submit" class="btn btn-primary btn-dark">Filtrar</button>
                            <a th:href="${clearUrl}" th:attr="data-clear=${clearUrl}" onclick="window.location.href=this.getAttribute('data-clear')" class="btn btn-outline-secondary">Limpiar</a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
