<!-- Fragmento para tarjetas de hechos destacados -->
<div th:fragment="hecho-card(titulo, categoria, fecha, ubicacion, etiquetas)" class="col">
    <div class="hecho-destacado-card card">
        <div class="hecho-destacado-card-body card-body">
            <div class="titulo-etiqueta">
                <h5 class="card-title" th:text="${titulo}"></h5>
                <p class="etiqueta-categoria" th:text="${categoria}"></p>
            </div>
            <p class="card-text"><strong>Fecha: </strong><span th:text="${fecha}"></span></p>
            <p class="card-text"><strong>Ubicación: </strong><span th:text="${ubicacion}"></span></p>
            <div style="display: flex; gap: 0.5rem">
                <p th:each="etiqueta : ${etiquetas}" class="etiqueta-interes" th:text="${etiqueta}"></p>
            </div>
        </div>
    </div>
</div>

<!-- Fragmento para tarjetas de colecciones -->
<div th:fragment="coleccion-card(titulo, cantidad, descripcion)" class="col">
    <div class="coleccion-destacada-card card">
        <div class="coleccion-destacada-card-body card-body">
            <h5 class="card-title" th:text="${titulo}"></h5>
            <p class="card-subtitle" th:text="${cantidad} + ' hechos registrados'"></p>
            <p class="card-text" th:text="${descripcion}"></p>
        </div>
    </div>
</div>

<!-- Fragmento para header de sección -->
<div th:fragment="section-header(titulo)" class="col-12 header-carusel">
    <h2 th:text="${titulo}"></h2>
    <div>
        <button class="btn btn-carusel">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="btn btn-carusel">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
</div>