<th:block th:fragment="hecho-card(hecho)">
    <div class="h-100 w-100">
        <a th:href="@{'/hechos/' + ${hecho.id}}" style="text-decoration:none; color:inherit;" class="d-flex flex-column align-items-center">
            <div class="hecho-destacado-card card w-100 h-100">
                <div class="hecho-destacado-card-body card-body">
                    <div class="titulo-etiqueta">
                        <h5 class="card-title" th:text="${hecho.titulo}"></h5>
                        <p class="etiqueta-categoria" th:text="${hecho.categoria}"></p>
                    </div>
                    <p class="card-text"><strong>Fecha: </strong><span th:text="${hecho.fechaAcontecimiento}"></span></p>
                    <p class="card-text">
                        <strong>Ubicación: </strong>
                        <span th:text="${hecho.ubicacion != null && hecho.ubicacion.provincia != null ? hecho.ubicacion.provincia : 'N/A'}"></span>,
                        <span th:text="${hecho.ubicacion != null && hecho.ubicacion.municipio != null ? hecho.ubicacion.municipio : 'N/A'}"></span>
                    </p>
                    <div style="display: flex; gap: 0.5rem">
                        <p th:each="etiqueta : ${hecho.etiquetas}" class="etiqueta-interes" th:text="${etiqueta}"></p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</th:block>

<div th:fragment="coleccion-card(id, titulo, cantidad, descripcion)" class="h-100 w-100">
    <a th:href="@{'/coleccion/' + ${id}}" style="text-decoration:none; color:inherit;">
        <div class="coleccion-destacada-card card h-100 w-100">
            <div class="coleccion-destacada-card-body card-body">
                <h5 class="card-title" th:text="${titulo}"></h5>
                <p class="card-subtitle" th:text="${cantidad} + ' hechos'"></p>
                <p class="card-text" th:text="${#strings.abbreviate(descripcion, 100)}"></p>
            </div>
        </div>
    </a>
</div>

<div th:fragment="section-header(titulo, carouselId)" class="col-12 header-carusel">
    <h2 th:text="${titulo}"></h2>
    <div>
        <button class="btn btn-carusel" type="button" th:attr="data-bs-target=${'#' + carouselId}" data-bs-slide="prev">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="btn btn-carusel" type="button" th:attr="data-bs-target=${'#' + carouselId}" data-bs-slide="next">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
</div>